@font-face {
  src: url(src/fonts/Roboto-Black.ttf);
  src: url(src/fonts/Roboto-BlackItalic.ttf);
  src: url(src/fonts/Roboto-Bold.ttf);
  src: url(src/fonts/Roboto-Italic.ttf);
  src: url(src/fonts/Roboto-Light.ttf);
  src: url(src/fonts/Roboto-LightItalic.ttf);
  src: url(src/fonts/Roboto-Medium.ttf);
  src: url(src/fonts/Roboto-MediumItalic.ttf);
  src: url(src/fonts/Roboto-Regular.ttf);
  src: url(src/fonts/Roboto-Thin.ttf);
  src: url(src/fonts/Roboto-ThinItalic.ttf);
}

body{
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

a{
  text-decoration: none;
  color: white;
}

.logo_image{
  margin-top: 7px;
}

.navigation_menu{
  display: inline;
  margin-left: 40%;
}

.header{
  margin: 0;
  padding-left: 18%;
  display: flex;
  align-items: center;
  color: white;
  height: 84px;
  background-color: #007765;
}

.heading_inf{
  height: 403px;
  color: white;
}

.heading_text{
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  position: absolute;
  margin: 150px 27% 0% 33%;
}

.heading_image{
    width: 100%;
    height: 403px;
}

.the_problem{
  height: 570px;
  background-color: #eee;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 50px;
}

.article_heading_text{
  margin-left: 18%;
  color: #007765;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
}

.problem_text_block{
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
}

.inf_on_a_pic{
  height: 483px;
}

.information_image{
  width: 100%;
  height: 383px;
}

.text_on_inf_pic{
  text-align: center;
  position: absolute;
  color: white;
  margin: 100px 30% 0% 30%;
  font-weight: 500;
  font-size: 30px;
  line-height: 56px;
}

.pipercoin{
  height: 500px;
}

.heading_pipercoin{
  margin-left: 25%;
  color: #007765;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
}

.ppc_logo{
  width: 75px;
  height: 75px;
  float:left;
  margin-right: 40px;
}

.ppc_desc{
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin-left: 30%;
  margin-right: 30%;
}

.team_desc{
  height: 845px;
  background-color: #eee;
  padding-top: 15px;
}

.team_heading_text{
  display: flex;
  margin-top: 30px;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: #007765;
  justify-content: center;
}

.team_members{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.member{
  display: flex
  align-content: center;
  text-align: center;
}

.name{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #007765
}

.rank{
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.footer{
  display: flex;
  height: 176px;
  background-color: #333;
  color: white;
  align-items: center;
}

.footer_desc{
  margin: 0% 30% 0% 30%;
}
